n8n/backup/workflows/8_Release_Notes_Generator.json
{
  "name": "8 Release Notes Generator",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "release_notes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        860,
        160
      ],
      "id": "rn-webhook-001",
      "name": "Webhook - Build Info",
      "webhookId": "release-notes-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.2:latest"
            },
            {
              "name": "prompt",
              "value": "=You are a technical writer creating release notes for software releases.\n\nCreate professional, user-friendly release notes from this build information:\n\n**Version:** {{ $('Webhook - Build Info').item.json.body.version || 'Unknown' }}\n**Build Date:** {{ $('Webhook - Build Info').item.json.body.buildDate || $now.toISO() }}\n\n**Commit Messages:**\n{{ $('Webhook - Build Info').item.json.body.commits }}\n\n**Jira Tickets:**\n{{ $('Webhook - Build Info').item.json.body.jiraTickets || 'No tickets linked' }}\n\n**Instructions:**\n1. Categorize changes into: New Features, Improvements, Bug Fixes, Breaking Changes\n2. Use clear, non-technical language where possible\n3. Highlight important changes users need to know\n4. Include upgrade instructions if needed\n5. Add known issues if any\n\n**Output Format:**\n```markdown\n# Release Notes - Version [VERSION]\n\n**Release Date:** [DATE]\n\n## \ud83c\udf89 New Features\n- **[Feature Title]:** Brief description of what users can now do\n- **[Another Feature]:** Description\n\n## \u2728 Improvements\n- **[Improvement]:** How this makes the product better\n- **[Enhancement]:** Description\n\n## \ud83d\udc1b Bug Fixes\n- Fixed: [Issue description]\n- Resolved: [Another issue]\n\n## \u26a0\ufe0f Breaking Changes\n- **[Change]:** What changed and what users need to do\n\n## \ud83d\udcdd Technical Details\n- Commit count: [X]\n- Issues resolved: [Ticket IDs]\n\n## \ud83d\udd04 Upgrade Instructions\n1. [Step-by-step upgrade guide if needed]\n\n## \u26a1 Known Issues\n- [Any known limitations or issues]\n\n## \ud83d\udcda Additional Resources\n- Documentation: [Link]\n- Migration Guide: [Link if applicable]\n```\n\nMake it concise, clear, and helpful for end users."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        160
      ],
      "id": "rn-http-001",
      "name": "Generate Release Notes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rn-assign-001",
              "name": "release_notes",
              "value": "={{ $json.response }}",
              "type": "string"
            },
            {
              "id": "rn-assign-002",
              "name": "version",
              "value": "={{ $('Webhook - Build Info').item.json.body.version }}",
              "type": "string"
            },
            {
              "id": "rn-assign-003",
              "name": "build_date",
              "value": "={{ $('Webhook - Build Info').item.json.body.buildDate || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "rn-assign-004",
              "name": "generated_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        160
      ],
      "id": "rn-set-001",
      "name": "Structure Output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1720,
        160
      ],
      "id": "rn-respond-001",
      "name": "Return Release Notes"
    },
    {
      "parameters": {
        "content": "## \ud83d\udc46 Webhook Input\nReceives build information.\n\nJSON format:\n```json\n{\n  \"version\": \"2.5.0\",\n  \"commits\": \"git log output\",\n  \"jiraTickets\": \"PROJ-123, PROJ-124\",\n  \"buildDate\": \"2025-11-19\",\n  \"saveToFile\": false\n}\n```",
        "height": 340,
        "width": 200
      },
      "id": "rn-note-001",
      "name": "Sticky Note - Input",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## \ud83d\udc46 AI Generation\nTransforms commits into user-friendly release notes.",
        "height": 340,
        "width": 200
      },
      "id": "rn-note-002",
      "name": "Sticky Note - Generate",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1140,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## \ud83d\udc46 Optional Save\nSaves release notes as markdown.",
        "height": 340,
        "width": 200
      },
      "id": "rn-note-003",
      "name": "Sticky Note - File",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1420,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Release Notes Generator\n\n## Purpose\nAutomatically creates professional release notes from build information.\n\n## How to Use\n\n### From Git Commits:\n```bash\ncurl -X POST http://localhost:5678/webhook/release_notes \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"version\": \"2.5.0\",\n    \"commits\": \"$(git log v2.4.0..HEAD --oneline)\"\n  }'\n```\n\n### With Jira Integration:\n```bash\ncurl -X POST http://localhost:5678/webhook/release_notes \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"version\": \"2.5.0\",\n    \"commits\": \"$(git log --oneline main..release)\",\n    \"jiraTickets\": \"PROJ-123, PROJ-124, PROJ-125\"\n  }'\n```\n\n### Save to File:\n```bash\ncurl -X POST http://localhost:5678/webhook/release_notes \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"version\": \"2.5.0\",\n    \"commits\": \"feat: new feature\\nfix: bug fix\",\n    \"saveToFile\": true\n  }'\n```",
        "height": 760,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        80
      ],
      "typeVersion": 1,
      "id": "rn-note-main",
      "name": "Sticky Note - Documentation"
    },
    {
      "parameters": {
        "content": "## Training Workflow\n\n**What you learn:**\n\u2705 Release automation\n\u2705 Technical writing\n\u2705 CI/CD integration\n\u2705 User communication\n\n**Try adding:**\n- Confluence publish\n- Email notification\n- Changelog generation\n- Version tagging",
        "height": 440,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1980,
        80
      ],
      "typeVersion": 1,
      "id": "rn-note-exercise",
      "name": "Sticky Note - Learning"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Build Info": {
      "main": [
        [
          {
            "node": "Generate Release Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Release Notes": {
      "main": [
        [
          {
            "node": "Structure Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Output": {
      "main": [
        [
          {
            "node": "Return Release Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "training-release-v1",
  "meta": {
    "instanceId": "training-exercise-instance"
  },
  "id": "TrainingRelease001",
  "tags": [
    {
      "id": "training",
      "name": "training"
    },
    {
      "id": "release",
      "name": "release"
    },
    {
      "id": "cicd",
      "name": "cicd"
    }
  ]
}