n8n/backup/workflows/SDLC_Test_Data_Generator.json
{
  "name": "Test Data Generator",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test_data_generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        860,
        160
      ],
      "id": "testdata-webhook-001",
      "name": "Webhook - Schema Input",
      "webhookId": "testdata-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2:0.5b"
            },
            {
              "name": "prompt",
              "value": "=You are an expert QA engineer and test data architect specializing in generating realistic, comprehensive test datasets.\n\n**MISSION:** Generate production-quality test data based on the provided schema or specification.\n\n**INPUT SPECIFICATION:**\n```{{ $('Webhook - Schema Input').item.json.body.schemaType || 'auto-detect' }}\n{{ $('Webhook - Schema Input').item.json.body.schema }}\n```\n\n**DATA REQUIREMENTS:**\n- **Record Count:** {{ $('Webhook - Schema Input').item.json.body.recordCount || 100 }}\n- **Output Format:** {{ $('Webhook - Schema Input').item.json.body.outputFormat || 'JSON' }}\n- **Data Quality:** {{ $('Webhook - Schema Input').item.json.body.dataQuality || 'realistic' }}\n- **Include Edge Cases:** {{ $('Webhook - Schema Input').item.json.body.includeEdgeCases || true }}\n- **Locale:** {{ $('Webhook - Schema Input').item.json.body.locale || 'en_US' }}\n- **Seed:** {{ $('Webhook - Schema Input').item.json.body.seed || 'random' }}\n\n**INSTRUCTIONS:**\n\n1. **SCHEMA ANALYSIS**\n   - Parse the schema structure (database tables, API endpoints, or data models)\n   - Identify data types, constraints, relationships\n   - Understand foreign keys, unique constraints, validations\n   - Detect required vs optional fields\n\n2. **DATA GENERATION STRATEGY**\n   \n   **For Each Field Type:**\n   - **Strings:** Realistic names, addresses, emails (use Faker-like patterns)\n   - **Numbers:** Within valid ranges, respect min/max constraints\n   - **Dates:** Realistic date ranges, consider business logic\n   - **Booleans:** Appropriate distribution (not always 50/50)\n   - **Enums:** Select from valid options with realistic distribution\n   - **Foreign Keys:** Maintain referential integrity\n   - **UUIDs:** Generate valid v4 UUIDs\n   - **JSON/Objects:** Nested realistic data structures\n\n3. **REALISTIC DATA RULES**\n   \n   **Personal Data:**\n   - Names: Mix of common and uncommon names\n   - Emails: Match name patterns (john.doe@example.com)\n   - Phones: Valid format for locale\n   - Addresses: Real city/state/zip combinations\n   \n   **Business Data:**\n   - Companies: Real-sounding business names\n   - Products: Believable product names and prices\n   - Transactions: Logical amounts and timestamps\n   - IDs: Sequential or realistic patterns\n   \n   **Timestamps:**\n   - Recent dates for active records\n   - Older dates for historical data\n   - Logical sequence (created_at < updated_at)\n   - Business hours for transactions\n\n4. **EDGE CASES & TEST SCENARIOS**\n   \n   Include (if includeEdgeCases=true):\n   - **Boundary Values:** Min/max lengths, numbers at limits\n   - **Empty Strings:** Where allowed by schema\n   - **Null Values:** For optional fields\n   - **Special Characters:** Unicode, emojis, SQL injection patterns (escaped)\n   - **Long Strings:** Maximum length values\n   - **Duplicate Detection:** Some intentional duplicates for testing\n   - **Invalid But Interesting:** Edge cases that should fail validation\n\n5. **DATA RELATIONSHIPS**\n   - Maintain foreign key integrity\n   - Create realistic parent-child relationships\n   - Generate related records in proper order\n   - Ensure cascade delete scenarios are testable\n\n6. **DATA DISTRIBUTION**\n   - Not all values uniform - realistic skew\n   - Popular items appear more frequently\n   - Some records very active, others dormant\n   - Geographic clustering where appropriate\n\n**OUTPUT FORMAT:**\n\nGenerate data in the requested format:\n\n### For JSON Output:\n```json\n{\n  \"metadata\": {\n    \"generated_at\": \"{{ TIMESTAMP }}\",\n    \"record_count\": {{ COUNT }},\n    \"schema_type\": \"{{ TYPE }}\",\n    \"seed\": \"{{ SEED }}\",\n    \"data_quality\": \"{{ QUALITY }}\"\n  },\n  \"data\": [\n    {\n      \"id\": 1,\n      \"field1\": \"value1\",\n      \"field2\": \"value2\",\n      \"nested_object\": {\n        \"sub_field\": \"value\"\n      },\n      \"created_at\": \"2025-11-19T10:30:00Z\"\n    },\n    // ... more records\n  ],\n  \"edge_cases\": [\n    {\n      \"description\": \"Maximum length string\",\n      \"record\": { /* edge case data */ }\n    }\n  ],\n  \"statistics\": {\n    \"total_records\": {{ COUNT }},\n    \"edge_cases_count\": 10,\n    \"unique_values\": {\n      \"field_name\": 50\n    }\n  }\n}\n```\n\n### For CSV Output:\n```csv\nid,name,email,phone,address,city,state,zip,created_at,status\n1,\"John Doe\",\"john.doe@example.com\",\"+1-555-0100\",\"123 Main St\",\"New York\",\"NY\",\"10001\",\"2025-11-01T08:00:00Z\",\"active\"\n2,\"Jane Smith\",\"jane.smith@test.com\",\"+1-555-0101\",\"456 Oak Ave\",\"Los Angeles\",\"CA\",\"90001\",\"2025-11-02T09:15:00Z\",\"active\"\n// ... more rows\n```\n\n### For SQL Insert Statements:\n```sql\n-- Generated Test Data\n-- Table: users\n-- Records: {{ COUNT }}\n-- Generated: {{ TIMESTAMP }}\n\nINSERT INTO users (id, name, email, phone, created_at, status) VALUES\n  (1, 'John Doe', 'john.doe@example.com', '+1-555-0100', '2025-11-01 08:00:00', 'active'),\n  (2, 'Jane Smith', 'jane.smith@test.com', '+1-555-0101', '2025-11-02 09:15:00', 'active'),\n  -- ... more rows\n  (100, 'Last User', 'last@example.com', '+1-555-0199', '2025-11-19 10:00:00', 'inactive');\n```\n\n**QUALITY CHECKS:**\n- \u2705 All required fields populated\n- \u2705 Data types match schema\n- \u2705 Constraints respected (unique, not null, foreign keys)\n- \u2705 Realistic and diverse data\n- \u2705 No obvious patterns (e.g., sequential names)\n- \u2705 Edge cases clearly marked\n- \u2705 Valid format (parseable JSON/CSV/SQL)\n\n**EXAMPLES OF REALISTIC DATA:**\n\n**Good:**\n```json\n{\n  \"user_id\": 1047,\n  \"name\": \"Sarah Johnson\",\n  \"email\": \"sarah.johnson@techcorp.com\",\n  \"signup_date\": \"2024-03-15T14:22:33Z\",\n  \"last_login\": \"2025-11-18T09:45:12Z\",\n  \"purchase_count\": 7,\n  \"total_spent\": 342.67,\n  \"vip_status\": true\n}\n```\n\n**Bad (too simplistic):**\n```json\n{\n  \"user_id\": 1,\n  \"name\": \"User 1\",\n  \"email\": \"user1@test.com\",\n  \"signup_date\": \"2025-01-01T00:00:00Z\",\n  \"last_login\": \"2025-01-01T00:00:00Z\",\n  \"purchase_count\": 1,\n  \"total_spent\": 100.00,\n  \"vip_status\": false\n}\n```\n\n**CRITICAL REQUIREMENTS:**\n- Generate EXACTLY the requested number of records\n- Follow the schema precisely\n- Make data realistic and believable\n- Include variety and diversity\n- Respect all constraints\n- Provide valid, production-ready data\n- Include edge cases separately if requested\n- Add helpful metadata and statistics\n\nGenerate the complete test dataset now in {{ $('Webhook - Schema Input').item.json.body.outputFormat || 'JSON' }} format."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        160
      ],
      "id": "testdata-http-001",
      "name": "Generate Test Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "testdata-assign-001",
              "name": "test_data",
              "value": "={{ $json.response }}",
              "type": "string"
            },
            {
              "id": "testdata-assign-002",
              "name": "schema_type",
              "value": "={{ $('Webhook - Schema Input').item.json.body.schemaType }}",
              "type": "string"
            },
            {
              "id": "testdata-assign-003",
              "name": "output_format",
              "value": "={{ $('Webhook - Schema Input').item.json.body.outputFormat || 'JSON' }}",
              "type": "string"
            },
            {
              "id": "testdata-assign-004",
              "name": "record_count",
              "value": "={{ $('Webhook - Schema Input').item.json.body.recordCount || 100 }}",
              "type": "number"
            },
            {
              "id": "testdata-assign-005",
              "name": "generated_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "testdata-assign-006",
              "name": "file_name",
              "value": "=test_data_{{ $('Webhook - Schema Input').item.json.body.schemaType || 'dataset' }}_{{ $now.format('yyyy-MM-dd_HHmmss') }}.{{ $('Webhook - Schema Input').item.json.body.outputFormat === 'CSV' ? 'csv' : ($('Webhook - Schema Input').item.json.body.outputFormat === 'SQL' ? 'sql' : 'json') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        160
      ],
      "id": "testdata-set-001",
      "name": "Structure Output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2020,
        160
      ],
      "id": "testdata-respond-001",
      "name": "Return Test Data"
    },
    {
      "parameters": {
        "content": "## \ud83c\udfaf Test Data Generator\n\n**Production SDLC Workflow**\n\n### Real-World Use Cases\n\n**1. Database Testing**\n```bash\ncurl -X POST http://localhost:5678/webhook/test_data_generator \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"schema\": \"CREATE TABLE users (id INT, name VARCHAR(100), email VARCHAR(255), created_at TIMESTAMP);\",\n    \"schemaType\": \"SQL\",\n    \"recordCount\": 1000,\n    \"outputFormat\": \"SQL\",\n    \"includeEdgeCases\": true,\n    \"saveToFile\": true\n  }'\n```\n\n**2. API Testing**\n```bash\ncurl -X POST http://localhost:5678/webhook/test_data_generator \\\n  -d '{\n    \"schema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"userId\": {\"type\": \"integer\"},\n        \"productId\": {\"type\": \"string\"},\n        \"quantity\": {\"type\": \"integer\", \"min\": 1, \"max\": 100},\n        \"price\": {\"type\": \"number\"},\n        \"orderDate\": {\"type\": \"string\", \"format\": \"date-time\"}\n      }\n    },\n    \"schemaType\": \"JSON_Schema\",\n    \"recordCount\": 500,\n    \"outputFormat\": \"JSON\",\n    \"dataQuality\": \"realistic\"\n  }'\n```\n\n**3. CSV for Excel Import**\n```bash\ncurl -X POST http://localhost:5678/webhook/test_data_generator \\\n  -d '{\n    \"schema\": \"customer_id,first_name,last_name,email,phone,address,city,state,zip\",\n    \"schemaType\": \"CSV_Header\",\n    \"recordCount\": 250,\n    \"outputFormat\": \"CSV\",\n    \"locale\": \"en_US\"\n  }'\n```\n\n**4. Load Testing Data**\n```bash\n# Generate 10,000 records for performance testing\ncurl -X POST http://localhost:5678/webhook/test_data_generator \\\n  -d '{\n    \"schema\": {...},\n    \"recordCount\": 10000,\n    \"outputFormat\": \"JSON\",\n    \"seed\": \"reproducible-123\"\n  }'\n```\n\n### Key Features\n- \ud83d\udcca **Multiple Formats**: JSON, CSV, SQL inserts\n- \ud83c\udfad **Realistic Data**: Names, emails, addresses, phones\n- \ud83d\udd0d **Edge Cases**: Boundaries, nulls, special chars\n- \ud83d\udd17 **Referential Integrity**: Foreign keys maintained\n- \ud83c\udf0d **Localization**: Multiple locale support\n- \ud83d\udcc8 **Scalable**: 10 to 100,000+ records\n- \ud83c\udfb2 **Seeded Random**: Reproducible datasets\n- \ud83d\udcc1 **Auto-Save**: Direct to file system",
        "height": 1020,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        80
      ],
      "typeVersion": 1,
      "id": "testdata-note-main",
      "name": "Sticky Note - Overview"
    },
    {
      "parameters": {
        "content": "## \ud83d\udca1 Production Benefits\n\n**QA Team Advantages:**\n- Instant test datasets\n- No manual data creation\n- Consistent data quality\n- Edge case coverage\n\n**Developer Benefits:**\n- Local development data\n- Integration test fixtures\n- Performance test datasets\n- Demo data generation\n\n**Data Science:**\n- Synthetic training data\n- Privacy-safe datasets\n- Schema validation testing\n- ETL pipeline testing\n\n**CI/CD Integration:**\n```yaml\n# Generate test data in pipeline\n- name: Create Test Data\n  run: |\n    curl -X POST localhost:5678/webhook/test_data_generator \\\n      -d @schema.json > test_data.json\n```\n\n**Supported Schema Types:**\n- SQL DDL statements\n- JSON Schema\n- OpenAPI/Swagger specs\n- GraphQL schemas\n- CSV headers\n- Mongoose/Sequelize models\n- TypeScript interfaces",
        "height": 680,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2300,
        80
      ],
      "typeVersion": 1,
      "id": "testdata-note-benefits",
      "name": "Sticky Note - Benefits"
    },
    {
      "parameters": {
        "content": "## \ud83d\udd27 Advanced Features\n\n**Data Quality Levels:**\n- `minimal`: Basic valid data\n- `realistic`: Production-like data\n- `complex`: Edge cases included\n- `premium`: Industry-specific patterns\n\n**Output Formats:**\n- JSON (single file or array)\n- CSV (Excel-compatible)\n- SQL INSERT statements\n- XML (coming soon)\n- YAML (coming soon)\n\n**Locale Support:**\n- en_US: American English\n- en_GB: British English\n- de_DE: German\n- fr_FR: French\n- es_ES: Spanish\n- ja_JP: Japanese\n- zh_CN: Chinese\n\n**Smart Features:**\n- Email matches names\n- Addresses are real locations\n- Phone numbers valid format\n- Dates in logical sequence\n- Prices realistic for category\n- Inventory matches orders",
        "height": 680,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2760,
        80
      ],
      "typeVersion": 1,
      "id": "testdata-note-features",
      "name": "Sticky Note - Advanced"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Schema Input": {
      "main": [
        [
          {
            "node": "Generate Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Test Data": {
      "main": [
        [
          {
            "node": "Structure Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Output": {
      "main": [
        [
          {
            "node": "Return Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "sdlc-testdata-v1",
  "meta": {
    "instanceId": "production-sdlc"
  },
  "id": "SDLCTestData001",
  "tags": [
    {
      "id": "sdlc",
      "name": "sdlc"
    },
    {
      "id": "testing",
      "name": "testing"
    },
    {
      "id": "qa",
      "name": "qa"
    },
    {
      "id": "data-generation",
      "name": "data-generation"
    }
  ]
}