n8n/backup/workflows/SDLC_Documentation_Generator.json
{
  "name": "AI Documentation Generator",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate_docs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        860,
        160
      ],
      "id": "doc-webhook-001",
      "name": "Webhook - Code Input",
      "webhookId": "documentation-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2:0.5b"
            },
            {
              "name": "prompt",
              "value": "=You are a senior technical writer and software architect specializing in creating comprehensive, production-grade documentation.\n\n**MISSION:** Generate complete, professional documentation for this codebase.\n\n**CODE TO DOCUMENT:**\n```{{ $('Webhook - Code Input').item.json.body.language || 'auto-detect' }}\n{{ $('Webhook - Code Input').item.json.body.code }}\n```\n\n**FILE PATH:** {{ $('Webhook - Code Input').item.json.body.filePath || 'unknown' }}\n**PROJECT:** {{ $('Webhook - Code Input').item.json.body.project || 'N/A' }}\n**DOCUMENTATION TYPE:** {{ $('Webhook - Code Input').item.json.body.docType || 'comprehensive' }}\n\n**INSTRUCTIONS:**\n\n1. **CODE ANALYSIS**\n   - Identify all classes, functions, methods, and modules\n   - Detect design patterns and architectural approaches\n   - Understand dependencies and relationships\n   - Recognize coding standards and conventions\n\n2. **DOCUMENTATION STRUCTURE**\n   Generate the following sections:\n\n   **A. OVERVIEW**\n   - Purpose and responsibility of this code\n   - High-level architecture explanation\n   - Key design decisions\n\n   **B. API DOCUMENTATION**\n   - Function/method signatures with full parameter descriptions\n   - Return types and possible return values\n   - Exceptions that can be raised\n   - Usage examples for each public method\n\n   **C. ARCHITECTURE DETAILS**\n   - Class diagrams (in Mermaid syntax)\n   - Data flow explanations\n   - Component interactions\n   - Design patterns used\n\n   **D. CODE EXAMPLES**\n   - Basic usage examples\n   - Advanced usage patterns\n   - Common pitfalls and how to avoid them\n   - Best practices\n\n   **E. CONFIGURATION**\n   - Environment variables needed\n   - Configuration options\n   - Default values\n\n   **F. DEPENDENCIES**\n   - Required libraries/packages\n   - Version requirements\n   - Installation instructions\n\n   **G. TESTING**\n   - How to run tests\n   - Test coverage notes\n   - Example test cases\n\n   **H. DEPLOYMENT**\n   - Build instructions\n   - Deployment steps\n   - Environment setup\n\n**OUTPUT FORMAT:**\n\n```markdown\n# {{ FILE_NAME }} Documentation\n\n> **Auto-generated:** {{ TIMESTAMP }}\n> **Project:** {{ PROJECT_NAME }}\n> **Language:** {{ LANGUAGE }}\n\n## \ud83d\udccb Table of Contents\n- [Overview](#overview)\n- [API Reference](#api-reference)\n- [Architecture](#architecture)\n- [Usage Examples](#usage-examples)\n- [Configuration](#configuration)\n- [Dependencies](#dependencies)\n- [Testing](#testing)\n- [Deployment](#deployment)\n\n---\n\n## Overview\n\n### Purpose\n[What this code does]\n\n### Key Features\n- Feature 1\n- Feature 2\n- Feature 3\n\n### Architecture\n[High-level explanation]\n\n```mermaid\n[Diagram if applicable]\n```\n\n---\n\n## API Reference\n\n### Classes\n\n#### `ClassName`\n**Description:** [What it does]\n\n**Constructor:**\n```{{ language }}\nClassName(param1: type, param2: type)\n```\n\n**Parameters:**\n- `param1` (type): Description\n- `param2` (type): Description\n\n**Methods:**\n\n##### `methodName(arg1, arg2)`\n**Description:** [What it does]\n\n**Parameters:**\n- `arg1` (type): Description\n- `arg2` (type): Description\n\n**Returns:** (type) Description\n\n**Raises:**\n- `ExceptionType`: When condition\n\n**Example:**\n```{{ language }}\n[Code example]\n```\n\n---\n\n## Architecture\n\n### Design Patterns\n- **Pattern Name:** How it's used\n\n### Data Flow\n```mermaid\ngraph LR\n    A[Input] --> B[Process]\n    B --> C[Output]\n```\n\n### Component Diagram\n[Explanation]\n\n---\n\n## Usage Examples\n\n### Basic Usage\n```{{ language }}\n[Simple example]\n```\n\n### Advanced Usage\n```{{ language }}\n[Complex example]\n```\n\n### Common Patterns\n```{{ language }}\n[Pattern examples]\n```\n\n---\n\n## Configuration\n\n### Environment Variables\n| Variable | Description | Default | Required |\n|----------|-------------|---------|----------|\n| VAR_NAME | Description | value | Yes/No |\n\n### Config File\n```{{ config_format }}\n[Example configuration]\n```\n\n---\n\n## Dependencies\n\n### Required\n```\n[List dependencies with versions]\n```\n\n### Installation\n```bash\n[Installation commands]\n```\n\n---\n\n## Testing\n\n### Running Tests\n```bash\n[Test commands]\n```\n\n### Example Tests\n```{{ language }}\n[Test examples]\n```\n\n---\n\n## Deployment\n\n### Build\n```bash\n[Build commands]\n```\n\n### Deploy\n```bash\n[Deployment steps]\n```\n\n---\n\n## Changelog\n- **Initial:** Auto-generated documentation\n\n## Contributors\n- AI Documentation Generator\n\n## License\n[Detected or specified license]\n```\n\n**CRITICAL REQUIREMENTS:**\n- Be thorough and accurate\n- Include ALL public APIs\n- Provide real, runnable code examples\n- Use proper markdown formatting\n- Add Mermaid diagrams where helpful\n- Make it production-ready, not tutorial-level\n- Focus on clarity for developers who will maintain this code\n\nGenerate COMPLETE documentation now."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        160
      ],
      "id": "doc-http-001",
      "name": "Generate Documentation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "doc-assign-001",
              "name": "documentation",
              "value": "={{ $json.response }}",
              "type": "string"
            },
            {
              "id": "doc-assign-002",
              "name": "file_path",
              "value": "={{ $('Webhook - Code Input').item.json.body.filePath }}",
              "type": "string"
            },
            {
              "id": "doc-assign-003",
              "name": "language",
              "value": "={{ $('Webhook - Code Input').item.json.body.language }}",
              "type": "string"
            },
            {
              "id": "doc-assign-004",
              "name": "project",
              "value": "={{ $('Webhook - Code Input').item.json.body.project }}",
              "type": "string"
            },
            {
              "id": "doc-assign-005",
              "name": "generated_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "doc-assign-006",
              "name": "doc_type",
              "value": "full_api_reference",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        160
      ],
      "id": "doc-set-001",
      "name": "Structure Output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2020,
        160
      ],
      "id": "doc-respond-001",
      "name": "Return Documentation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "doc-condition-confluence",
              "leftValue": "={{ $('Webhook - Code Input').item.json.body.publishToConfluence }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1720,
        560
      ],
      "id": "doc-if-confluence",
      "name": "Publish to Confluence?"
    },
    {
      "parameters": {
        "content": "## \ud83d\ude80 Confluence Integration\n\nConnect Confluence node here to:\n- Auto-publish documentation\n- Update existing pages\n- Maintain version history\n- Notify team members\n\nAdd Confluence credentials and configure space/page settings.",
        "height": 340,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1980,
        740
      ],
      "typeVersion": 1,
      "id": "doc-note-confluence",
      "name": "Sticky Note - Confluence"
    },
    {
      "parameters": {
        "content": "# \ud83c\udfaf AI Documentation Generator\n\n## Production SDLC Workflow\n\n**Purpose:** Automatically generate comprehensive, production-grade documentation for any codebase.\n\n## Real-World Use Cases\n\n### 1. Legacy Code Documentation\n```bash\ncurl -X POST http://localhost:5678/webhook/generate_docs \\\n  -d '{\n    \"code\": \"$(cat legacy_module.py)\",\n    \"filePath\": \"src/legacy_module.py\",\n    \"language\": \"python\",\n    \"project\": \"LegacySystem\",\n    \"saveToFile\": true\n  }'\n```\n\n### 2. CI/CD Integration\n```yaml\n# .github/workflows/docs.yml\n- name: Generate Docs\n  run: |\n    for file in $(git diff --name-only main); do\n      curl -X POST localhost:5678/webhook/generate_docs \\\n        -d @- <<EOF\n        {\n          \"code\": \"$(cat $file)\",\n          \"filePath\": \"$file\",\n          \"publishToConfluence\": true\n        }\n    EOF\n    done\n```\n\n### 3. Pre-Commit Documentation\n```bash\n# Generate docs before commit\ngit diff --cached --name-only | \\\n  grep '.py$' | \\\n  xargs -I {} sh -c 'curl -X POST ... -d @{}'\n```\n\n## Features\n- \ud83d\udcda Complete API reference generation\n- \ud83c\udfd7\ufe0f Architecture diagrams (Mermaid)\n- \ud83d\udca1 Usage examples with best practices\n- \ud83d\udd27 Configuration documentation\n- \ud83e\uddea Testing guidelines\n- \ud83d\ude80 Deployment instructions\n- \ud83d\udd04 Auto-publish to Confluence\n- \ud83d\udcc1 Organized docs folder structure",
        "height": 920,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        80
      ],
      "typeVersion": 1,
      "id": "doc-note-main",
      "name": "Sticky Note - Overview"
    },
    {
      "parameters": {
        "content": "## \ud83d\udca1 Production Benefits\n\n**Time Savings:**\n- Reduces documentation time by 80%\n- Consistent format across projects\n- Always up-to-date with code changes\n\n**Quality Improvements:**\n- No missing documentation\n- Comprehensive API coverage\n- Professional formatting\n\n**Team Benefits:**\n- Faster onboarding\n- Better code understanding\n- Reduced technical debt\n\n**Integration Options:**\n- GitHub Actions\n- GitLab CI\n- Jenkins\n- Confluence\n- ReadTheDocs\n- Docusaurus",
        "height": 540,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2300,
        80
      ],
      "typeVersion": 1,
      "id": "doc-note-benefits",
      "name": "Sticky Note - Benefits"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Code Input": {
      "main": [
        [
          {
            "node": "Generate Documentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Documentation": {
      "main": [
        [
          {
            "node": "Structure Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Output": {
      "main": [
        [
          {
            "node": "Return Documentation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish to Confluence?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "sdlc-documentation-v1",
  "meta": {
    "instanceId": "production-sdlc"
  },
  "id": "SDLCDocumentation001",
  "tags": [
    {
      "id": "sdlc",
      "name": "sdlc"
    },
    {
      "id": "documentation",
      "name": "documentation"
    },
    {
      "id": "production",
      "name": "production"
    },
    {
      "id": "cicd",
      "name": "cicd"
    }
  ]
}